[submodule "packages/array"]
	path = packages/array
	url = https://github.com/axiona/array.git
[submodule "packages/string"]
	path = packages/string
	url = https://github.com/axiona/string.git
[submodule "packages/boolean"]
	path = packages/boolean
	url = https://github.com/axiona/boolean.git
[submodule "packages/class"]
	path = packages/class
	url = https://github.com/axiona/class.git
[submodule "packages/code"]
	path = packages/code
	url = https://github.com/axiona/code.git
[submodule "packages/date"]
	path = packages/date
	url = https://github.com/axiona/date.git
[submodule "packages/enum"]
	path = packages/enum
	url = https://github.com/axiona/enum.git
[submodule "packages/function"]
	path = packages/function
	url = https://github.com/axiona/function.git
[submodule "packages/http"]
	path = packages/http
	url = https://github.com/axiona/http.git
[submodule "packages/iterable"]
	path = packages/iterable
	url = https://github.com/axiona/iterable.git
[submodule "packages/map"]
	path = packages/map
	url = https://github.com/axiona/map.git
[submodule "packages/message"]
	path = packages/message
	url = https://github.com/axiona/message.git
[submodule "packages/null"]
	path = packages/null
	url = https://github.com/axiona/null.git
[submodule "packages/number"]
	path = packages/number
	url = https://github.com/axiona/number.git
[submodule "packages/object"]
	path = packages/object
	url = https://github.com/axiona/object.git
[submodule "packages/set"]
	path = packages/set
	url = https://github.com/axiona/set.git
[submodule "packages/syslog"]
	path = packages/syslog
	url = https://github.com/axiona/syslog.git
[submodule "packages/type"]
	path = packages/type
	url = https://github.com/axiona/type.git
[submodule "packages/undefined"]
	path = packages/undefined
	url = https://github.com/axiona/undefined.git
[submodule "packages/uri"]
	path = packages/uri
	url = https://github.com/axiona/uri.git
[submodule "packages/validatable"]
	path = packages/validatable
	url = https://github.com/axiona/validatable.git
[submodule "packages/validator"]
	path = packages/validator
	url = https://github.com/axiona/validator.git
[submodule "packages/value"]
	path = packages/value
	url = https://github.com/axiona/value.git
[submodule "packages/proxy"]
	path = packages/proxy
	url = https://github.com/axiona/proxy
[submodule "packages/score"]
	path = packages/score
	url = https://github.com/axiona/score
[submodule "packages/event"]
	path = packages/event
	url = https://github.com/axiona/event
[submodule "packages/typeorm"]
	path = packages/typeorm
	url = https://github.com/axiona/typeorm
[submodule "packages/monorepo"]
	path = packages/monorepo
	url = https://github.com/axiona/monorepo
[submodule "packages/filesystem"]
	path = packages/filesystem
	url = https://github.com/axiona/filesystem
[submodule "packages/promise"]
	path = packages/promise
	url = https://github.com/axiona/promise
[submodule "packages/http-server"]
	path = packages/http-server
	url = https://github.com/axiona/http-server
[submodule "packages/key-value-storage"]
	path = packages/key-value-storage
	url = https://github.com/axiona/key-value-storage
[submodule "packages/file-storage"]
	path = packages/file-storage
	url = https://github.com/axiona/file-storage
[submodule "packages/prompt"]
	path = packages/prompt
	url = https://github.com/axiona/prompt
